img {
  display: block;
}

body {
  background-color: #E6E6FA;
}

#image {
  max-width: 100%;
  height: auto;
  justify-content: center;
}

h1 {
  text-align: center;
}

ul > li {
  padding: 0.5rem;
}

#wiki {
  text-align: center;
}
